Flask
whisper
openai
torch
gTTS
python-dotenv
echo "python-dotenv" >> requirements.txt
echo "git+https://github.com/openai/whisper.git" >> requirements.txt
echo "openai==0.28" >> requirements.txt
Django==4.2.23
requests
